.post {
    border: 3px solid lightgray;
    width: 1000px;
    height: 400px;
    padding: 30px;
    box-shadow: 3px 3px 3px lightgrey;
}

.post-padding {
    max-width: 900px;
}

.post-title {
    color: #094E39;

    font-family: "Libre Baskerville";
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.description {
    color: #000;

    font-family: "Libre Baskerville";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.pfp {
    border-radius: 50%;
    max-width: 70px;
}

.username {
    font-family: "Libre Baskerville";
    font-weight: 700;
    font-size: 20px;
    line-height: 24.8px;
}

.top-part-post {
    display: flex;
    flex-direction: row;
}

.stuff-below {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 195px;
}